.overlay {
  margin: 0 0;
  padding: 0 0;
  background-color: #000;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.overlay_position_opened {
  opacity: 0.9;
  visibility: visible;
  transition: visibility 0s, opacity 0.3s linear;
}